* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #c8c9ff;
}

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

a {
  margin-left: 5px;
}

.jesus {
  height: 500px;
  margin-right: 20px;
  margin-top: 20px;
}

.movesMoves {
  margin-right: 100px;
}

.restart {
  margin: auto;
}
.restartButton {
  width: 160px;
  height: 60px;
  margin: auto;
  border-width: 10px;
  border-color: #dd5a97;
  background-color: #eeafcc;
}
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  margin: 10px;
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  border-style: solid;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.front-face {
  transform: rotateY(180deg);
}
