.aquamarine {
    color: #13c100;;
  }

  .coral {
    color: #ff4400;
  }

  .modre {
    color: #0000b5;
  }
  p {
    line-height: 150%;
  }
  
  body {
    background-color: #cedebd;
  }
  .cow {
    mix-blend-mode: multiply;
  }
  table,
  th,
  td {
    border: 2px solid black;
  }
  tr:hover {
    background-color: coral;
  }

  ing {
    display: block;
  }